<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id = "drawCircle" class = "btday2.DrawCircle">
    </bean>
    <bean id = "Student" class = "btday2.Student" autowire="byType">
    </bean>
</beans>